body {
    display:flex;
    flex-direction: ;
    align-items: center;
    justify-content: center;
    background-color: white;
}
.cabecera {
    background-color: #22cece;
    position: absolute;
    top: 25px;
    left: 135px ;
    padding: 10px;
    width: 418px;
    height: 65px;
}

.contenedor{
    width: 400px;
    height: 600px;
    top: 120px;
    background-color: #147e86;
    padding: 20px;
    text-align: center;
    position: absolute;
}
.circle1 {
    width:250px;
    height: 200px;
    background-color: #d82414;
    position: absolute;
    top: 90px;
    left: 80px;
    border-radius: 50%;
}

.circle2 {
    width: 90px;
    height: 90px;
    background-color: #b3db3f;
    position: absolute;
    top: 55px;
    left: 75px;
    border-radius: 50%;
}
.circle3 {
    width: 30px;
    height: 30px;
    background-color: #080807;
    position: absolute;
    top: 30px;
    left: 30px;
    border-radius: 50%;
}
.ellipse1 {
    width: 400px;
    height: 280px;
    background-color: #81a0e0;
    position: absolute;
    top: 310px;
    left: 18px;
    border-radius: 60%;
}

.ellipse2{
    width: 180px;
    height: 150px;
    background-color: #3f7720;
    position: absolute;
    top: 60px;
    left: 110px;
    border-radius: 50%;
}

.ellipse3 {
    width: 40px;
    height: 50px;
    background-color: #e6a48c;
    position: absolute;
    top: 50px;
    left: 70px;
    border-radius: 50%;
}

.pupila{
    width: 10px;
    height: 21px;
    background-color: black;
    position: absolute;
    top: 15px;
    left: 15px;
    border-radius: 50%;
}